
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/CMPE-295A-Project.iml
.idea/workspace.xml
TPUnityAI/TPUnityAI/Communicator/__pycache__/com_client.cpython-39.pyc
TPUnityAI/TPUnityAI/Communicator/__pycache__/com_server.cpython-39.pyc
.idea/other.xml
TPUnityAI/TPUnityAI/dist/
HelloWorldTokenPackage/build/lib/helloworldtockenpackage/__init__.py
HelloWorldTokenPackage/build/lib/helloworldtockenpackage/helloworld.py
HelloWorldTokenPackage/dist/helloworldtokenpackage-0.0.5-py2.py3-none-any.whl
HelloWorldTokenPackage/dist/helloworldtokenpackage-0.0.5.tar.gz
HelloWorldTokenPackage/helloworldtokenpackage.egg-info/dependency_links.txt
HelloWorldTokenPackage/helloworldtokenpackage.egg-info/PKG-INFO
HelloWorldTokenPackage/helloworldtokenpackage.egg-info/SOURCES.txt
HelloWorldTokenPackage/helloworldtokenpackage.egg-info/top_level.txt
HelloWorldTokenPackage/MANIFEST.in
TPUnityAI/dist/TPUnityAI-0.0.1.tar.gz
TPUnityAI/dist/TPUnityAI-0.0.2.tar.gz
TPUnityAI/TPUnityAI.egg-info/dependency_links.txt
TPUnityAI/TPUnityAI.egg-info/PKG-INFO
TPUnityAI/TPUnityAI.egg-info/requires.txt
TPUnityAI/TPUnityAI.egg-info/SOURCES.txt
TPUnityAI/TPUnityAI.egg-info/top_level.txt
hello_world_token_package/dist/helloworldtokenpackage-0.0.5-py2.py3-none-any.whl
hello_world_token_package/dist/helloworldtokenpackage-0.0.5-py2.py3-none-any.whl
hello_world_token_package/dist/helloworldtokenpackage-0.0.5-py2.py3-none-any.whl
*.whl
hello_world_token_package/build/lib/helloworldtockenpackage/__init__.py
hello_world_token_package/build/lib/helloworldtockenpackage/helloworld.py
hello_world_token_package/dist/helloworldtokenpackage-0.0.5.tar.gz
hello_world_token_package/helloworldtokenpackage.egg-info/dependency_links.txt
hello_world_token_package/helloworldtokenpackage.egg-info/PKG-INFO
hello_world_token_package/helloworldtokenpackage.egg-info/SOURCES.txt
hello_world_token_package/helloworldtokenpackage.egg-info/top_level.txt
hello_world_token_package/MANIFEST.in
tp_unity_ai/dist/TPUnityAI-0.0.1.tar.gz
tp_unity_ai/dist/TPUnityAI-0.0.2.tar.gz
tp_unity_ai/TPUnityAI.egg-info/dependency_links.txt
tp_unity_ai/TPUnityAI.egg-info/PKG-INFO
tp_unity_ai/TPUnityAI.egg-info/requires.txt
tp_unity_ai/TPUnityAI.egg-info/SOURCES.txt
tp_unity_ai/TPUnityAI.egg-info/top_level.txt
*.pyc
